<div class="container mt-5 pt-5 text-center d-flex justify-content-center">
  <form [formGroup]="loginForm" (submit) = "loginFormSubmit()">
    <div class="row mt-5">
      <div class="col-12 mb-3 text-center">
        <header class="h3 mb-3 text-muted">Sign in</header>
      </div>

      <div class="col-12 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput type="email" placeholder="Enter username ...." formControlName="username"/>
        </mat-form-field>
      </div>

      <div class="col-12 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter password ...." formControlName="password"/>
        </mat-form-field>
      </div>

      <div class="col-12 mb-4">
        <button
          class="p-1"
          mat-button
          type="submit"
          style="background-color: var(--indigo); color: white"
        >
          Sign in
        </button>
      </div>

      <div class="col-12 mb-3">
        <p class="text-muted" style="font-weight: lighter">
          Be a foodie <a routerLink="/register">Sign up</a>
        </p>
      </div>
    </div>
  </form>
</div>
